<html>
	<body>
		<div>
			Login?
			<button onclick='window.location.href = window.location + "login"'>Click here</button>
		</div>
		<div>
			Register?
			<button onclick='window.location.href = window.location + "register"'>Click here</button>
		</div>
	</body>
</html>