<html>
	<body>
		<div>
			Login do Utilizador
			<input  id ="Username" placeholder="Username" name="Username">
			<button type="button" onclick=validate_username()>Login</button>
	</body>
	<script src="/socket.io/socket.io.js"></script>
	<script>
		var socket = io('//localhost:3000');
	</script>
</html>