<html>
	<body>
		<div>
			<h1>Raspadinhas</h1>
            <h3>Username: </h3>
            <button type="button" onclick=getRandom()>Gerar</button>
    </body>
    <script src=raspadinhasCliente.js></script>
    <script src="/socket.io/socket.io.js"></script>
	<script>
		var socket = io('//localhost:3000');
	</script>
</html>