<html>
	<body>
		<div>
			<h1>Raspadinhas</h1>
            <button id="valor" type="button" onclick="getRandom();submitPoll(id);">Gerar</button>
    </body>
    <script src=raspadinhasCliente.js></script>
    <script src="/socket.io/socket.io.js"></script>
	<script>
		var socket = io('//localhost:3000');
	</script>

</html>