<html>
	<body>
		<div>
			Registar Utilizador
			<input  id ="User" placeholder="Username" name="Username">
			<button type="button" onclick="register();">Register</button>
	</body>
	<script src=registry.js></script>
</html>