<html>
	<body>
		<div>
			Working.....
			<script>
				link = (String(window.location).split("/")[0]  + "/" + String(window.location).split("/")[1] + "/" +String(window.location).split("/")[2])
				console.log(link)
				window.location.replace(link)
			</script>
	</body>
</html>